<html>
  <head>
    <!--Metadata stuff-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<meta http-equiv="Refresh" content="5; url='https://discord.gg/TsrDvGNbnH'" />

    <title>Spongey's site</title>
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="styles.css" />
    <meta name="og:title" content="M A L O" />
    <meta name="og:description" content="Malo's server invite. Join the server." />
    <meta name="og:image" content="https://i.kym-cdn.com/photos/images/newsfeed/001/806/563/9ae.gif" />

    <!--Imports bootstrap code-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <p>Redirecting you to M A L O in 5 seconds. Click <a href="https://discord.gg/Fjxy4YaRp5">here</a> if it doesn't work or you don't feel like waiting.</p>
    </div>